

body, html{
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    font-size:12px;
    background-color: var(--light-grey);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.header{
    height: 64px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding:0 20px;
}

.header__item{
    display: inline-block;
}

.header__item--flex-grow{
    flex-grow: 1;
}

.navigation__logo{
    cursor: pointer;
    background: url('../assets/logo-mobile.svg');
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    background-size: 25px 24px;
    height: 100%;
    width: 25px;
    /* height: 100%; */
}

.header__item--left{
    justify-self:flex-start;
    margin-right:16px;
}

.header__item--right{
    justify-self:flex-end;
    margin-left:16px;
}

.board-selection--active{
    font-weight: 700;
    font-size: 18px;
}

.board-selection{
    padding-right: 15px;
    position: relative;
    background: url('../assets/icon-chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

.board-selection__dropdown{
    position: absolute;
    background: var(--white);
    width:165px;
    display:none
}

.board-selection__dropdown--active{
    display: block;
}

.board-selection__dropdown-item{
    padding: 6px 12px;
}

.header__button,.form__button{
    display: inline-block;
    border-radius: 24px;
    height: 32px;
    
    cursor: pointer;
}

.header__button--create,.form__button--create{
    background: url('../assets/icon-add-task-mobile.svg');
    background-color: var(--main-purple);
    background-repeat: no-repeat;
    background-position: center;
    width:48px;
}

.header__button--secondary,.form__button--secondary{
    background-color: var(--main-purple-light);
    background-repeat: no-repeat;
    line-height: 40px;
    padding: 0 24px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    height: 40px;
    color: var(--deep-purple);
}

.header__button--primary,.form__button--primary{
    background-color: var(--deep-purple);
    background-repeat: no-repeat;
    line-height: 40px;
    padding: 0 24px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    height: 40px;
    color: var(--white);
}

.header__button--danger,.form__button--danger{
    background-color: var(--red);
    background-repeat: no-repeat;
    line-height: 40px;
    padding: 0 24px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    height: 40px;
    color: var(--white);
}

.header__button--danger:hover,.form__button--danger:hover,
.header__button--danger:active,.form__button--danger:active,
.header__button--danger:focus,.form__button--danger:focus {
    background-color: var(--light-red);
}

.header__more-info-button{
    background: url('../assets/icon-vertical-ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 5px;
    height:20px;
    display:inline-block;
    cursor:pointer;
}

.kanban-board{
    flex-grow:1;
    display: flex;
    align-items: center;
    margin:0 16px;
    justify-content: center;
    overflow-x: auto;
}

.kanban-board__new-panel{
    text-align: center;
}
.kanban-board__text{
    font-size: 18px;
    font-weight: 700;
    color: var(--lighter-smoke-grey);
    margin-bottom: 30px;
}

.kanban-board--empty{
    flex-direction: column;
    justify-items: center;
}

.kanban-board__button{
    height:50px;
    border-radius: 24px;
    border: none;
    padding:0 18px;
    cursor: pointer;
}

.kanban-board__button--main{
    background-color: var(--deep-purple);
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    transition-duration: 0.6s;
}

.kanban-board__button--main:hover,
.kanban-board__button--main:active,
.kanban-board__button--main:focus
{
    background-color: var(--main-purple);
}

.kanban-board--active{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 24px;
}

.kanban-board--center{
    align-items: center;
    justify-content: center;
}

.kanban__column{
    margin-right: 24px;
    width: 280px;
    flex-shrink: 0;
    align-self: stretch;
}

.kanban__column--create{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: var(--column-add-blue);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.kanban__add{
    font-size: 24px;
    font-weight: 700;
    color: var(--lighter-smoke-grey);
}

.kanban-status__name{
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--lighter-smoke-grey);
    padding-left:24px;
    position: relative;
}

.kanban-status__name::before{
    content: '';
    display: inline-block;
    position: absolute;
    left:0px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: var(--task-status-todo);
}

.kanban-status__name--todo::before{
    background-color: var(--task-status-todo);
}

.kanban-status__name--doing::before{
    background-color: var(--task-status-doing);
}

.kanban-status__name--done::before{
    background-color: var(--task-status-done);
}



.kanban__task{
    width: 280px;
    min-height: 88px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--task-drop-shadow);
    padding:16px;
    box-sizing: border-box;
    cursor:pointer;
}

.kanban__task:hover .task__title,
.kanban__task:focus .task__title,
.kanban__task:active .task__title{
    color: var(--deep-purple);
}

.task__title{
    color:var(--black);
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 15px;

}

.list__info{
    font-weight: 700;
    color: var(--lighter-smoke-grey);
}

.lightbox{
    position: fixed;
    background: var(--lightbox-bg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.lightbox__container{
    margin: 16px;
    background-color: var(--white);
    width: 100%;
    padding: 24px;
    border-radius: 6px;
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.lightbox__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.lightbox__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.lightbox__title--red{
    color: var(--red);
}

.lightbox__elipses{
    background: url('../assets/icon-vertical-ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height:20px;
    display:inline-block;
    cursor:pointer;
}

.lightbox__description{
    color: var(--lighter-smoke-grey);
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 24px;
}

.lightbox__button-container:first-child{
    margin-bottom: 16px;
}

.list__status{
    margin-bottom: 24px;
    position: relative;
}

.subtasks{
    margin-bottom: 16px;
}

.list__title{
    font-weight: 700;
    color:var(--lighter-smoke-grey);
    margin-bottom: 16px;
}

.list__item{
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--light-grey);
    display: flex;
    padding:15px 12px;
    align-items: center;

}

.list__item--edit{
    margin-bottom: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
}



.list__remove{
    background: url('../assets/icon-cross.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 15px;
    height:15px;
    margin: 0 16px;
    background-size: 15px;
    flex-shrink: 0;
}

.list__remove--red{
    background: url('../assets/icon-cross-red.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 15px;
    height:15px;
    margin: 0 16px;
    background-size: 15px;
    flex-shrink: 0;
}

.list__checkbox{
    display:none;
}

.list__label{
    padding-left: 32px;
    position: relative;
    color: var(--black);
    font-weight: 700;
}

.list__label:before{
    content: "";
    display: inline-block;
    width:16px;
    height:16px;
    background-color: var(--white);
    position: absolute;
    border:1px solid var(--checkbox-border);
    border-radius: 2px;
    left:0;
    top:-4px;
}

.list__checkbox:checked + *:before{
    background: var(--deep-purple) url('../assets/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px ;
}

.list__checkbox:checked + *{
    font-weight: 700;
    color: var(--lighter-smoke-grey);
    text-decoration: line-through;
}

.status__title{
    font-weight: 700;
    color:var(--lighter-smoke-grey);
    margin-bottom: 16px;
}

.status__select{
    width: 100%;
    border:1px solid var(--checkbox-border);
    padding:8px 16px;
    color: black;
    font-weight: 700;
    font-size: 13px;
    border-radius: 4px;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    appearance: none;
    position: relative;
}

.status__select--error{
    border:1px solid var(--red);
}


.status__option{
    padding: 16px;
}

.status__wrapper{
    position: relative;
}

.status__wrapper:after{
    content: "";
    display: inline-block;
    background: url('../assets/icon-chevron-down.svg');
    background-repeat: no-repeat;
    width:10px;
    height:12px;
    top:12px;
    right:16px;
    position: absolute;
}

.status__wrapper--error:after{
    background: url('../assets/icon-chevron-down-red.svg');
    background-repeat: no-repeat;
}

.task__input{
    margin-bottom: 24px;
    position: relative;
}



.task__error-msg{
    font-weight: 500 ;
    color: var(--red);
    font-size: 13px;
    position: absolute;
    right:16px;
    bottom:12px;
    z-index: 1;
}

.task__error-msg--right{

    right:36px;

}

.task__error-msg--subtask{
    right:60px
}

.task__label{
    font-weight: 700;
    color:var(--lighter-smoke-grey);
    margin-bottom: 16px;
}


.text__input{
    width: 100%;
    padding:8px 16px;
    border-radius: 4px;
    border:1px solid var(--checkbox-border);
    color:var(--black);
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;;
}

.text__input--error{
    border-color: var(--red);
 }

.text__area{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding:8px 16px;
    border-radius: 4px;
    border:1px solid var(--checkbox-border);
    color:var(--black);
    font-weight: 500;
    line-height: 23px;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;;
    height:110px
}

.text__area--error{
    border-color: var(--red);
 }

.text__input::placeholder,.text__area::placeholder{
    color: var(--lighter-smoke-grey);
}

.board-selection__container{
    position: absolute;
    width: 100vw;
    margin-top: 64px;
    height: calc(100% - 64px);  ;
    background-color: var(--lightbox-bg);
    left:0;
    top:0;
    z-index: 1;
    display:none;
}

.board-selection__container--active{
    display:block
}

.board-selection__panel{
    margin: 16px 58px;
    background-color: var(--white);
    border-radius: 8px;
    padding:16px 24px 16px 0;
}

.board-selection__title{
    margin-left: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: var(--lighter-smoke-grey);
    text-transform: uppercase;
}

.board-selection__panel-item {
    display: flex;
    padding:16px;
    padding-left:52px;
    font-size: 15px;
    color: var(--lighter-smoke-grey);
    font-weight: 700;
    background: url('../assets/icon-board.svg');
    background-repeat: no-repeat;
    background-position: center left 24px;
    cursor: pointer;
}

.board-selection__panel-item--create {
    color: var(--deep-purple);
    background: url('../assets/icon-board-purple.svg');
    background-repeat: no-repeat;
    background-position: center left 24px;
}

.board-selection__panel-item--active {
    color: var(--white);
    background: var(--deep-purple) url('../assets/icon-board-white.svg');
    background-repeat: no-repeat;
    background-position: center left 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.theme-toggle{
    margin-left: 24px;
    margin-bottom: 22px;
    background-color: var(--light-grey);
    height: 48px;
    /* width: 100%; */
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle__container{
    display: flex;
}

.theme-toggle__image{
    height: 19px;
    width: 19px;
}

.theme-toggle__image--light{
    background:url('../assets/icon-light-theme.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.theme-toggle__image--dark{
    background:url('../assets/icon-dark-theme.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.switch{
    background-color: var(--deep-purple);
    height: 20px;
    width: 40px;
    border-radius: 12px;
    padding: 3px;
    margin:0 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.switch:hover, .switch:active, .switch:focus{
    background-color: var(--main-purple-hover);
}

.switch__dial{
    width:14px;
    height: 14px;
    border-radius: 14px;
    background-color: var(--white);
    display: inline-block;
}

.task__toggle-dropdown,.board__toggle-dropdown{
    position: absolute;
    right:8px;
    top:50px;
    width:192px;
    box-shadow: 0px 4px 4px var(--task-drop-shadow);
}



.task__toggle-dropdown-list-item,.board__toggle-dropdown-list-item{
    font-size:13px;
    font-weight: 500;
    color: var(--lighter-smoke-grey);
    padding:16px;
    cursor: pointer;
    background-color: var(--white);
}

.task__toggle-dropdown-list-item:hover,.board__toggle-dropdown-list-item:hover,
.task__toggle-dropdown-list-item:focus,.board__toggle-dropdown-list-item:hover,
.task__toggle-dropdown-list-item:active.board__toggle-dropdown-list-item:hover
{
    background-color: var(--light-grey);
}

.task__toggle-dropdown-list-item--red,.board__toggle-dropdown-list-item--red{
    color: var(--red);
}

.board-selection__hide-sidebar{
    display:none;
}

@media (max-height:720px) {
    .lightbox{
        padding-top:10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

@media (min-width:500px){
    .board-selection__container{
        background-color: unset;
        width: 300px;
    }

    .board-selection{
        /* display: none; */
        background: none;
        cursor: auto;
    }

    .board-selection__panel{
        margin: 0;
        border-radius: 0px;
        height: calc(100% - 32px);
        border-radius: 1px solid var(--light-purple);
        display: flex;
        flex-direction: column;
    }

    .kanban-board--navigation-active{
        margin-left:320px
    }

    .board-selection__hide-sidebar{
        padding-left:24px;
        padding-top:14px;
        padding-bottom:14px;
        cursor:pointer;
        display: block;
        
    }

    .board-selection__hide-sidebar:active,.board-selection__hide-sidebar:focus,.board-selection__hide-sidebar:hover{
        background-color: var(--main-purple-light);
        
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .board-selection__hide-sidebar:active .board-selection__hide-text,.board-selection__hide-sidebar:focus .board-selection__hide-text,.board-selection__hide-sidebar:hover .board-selection__hide-text{
        color: var(--deep-purple);
    }

    .board-selection__hide-sidebar:active .board-selection__hide-text:before ,.board-selection__hide-sidebar:focus .board-selection__hide-text:before, .board-selection__hide-sidebar:hover .board-selection__hide-text:before {
        background:url('../assets/icon-hide-sidebar-purple.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .board-selection__hide-text{
        font-weight: 700;
        color: var(--lighter-smoke-grey);
        font-size: 15px;
        position: relative;
        padding-left: 34px;
        
    }

    .theme-toggle{
        margin-top: auto;
    }
    

    .board-selection__hide-text:before{
        background:url('../assets/icon-hide-sidebar.svg');
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        width: 18px;
        height: 15px;
        display: inline-block;
        top:0px;
        left:4px;
        position: absolute;
    }



    .board__show-navigation-btn{
        display: inline-block;
        height: 48px;
        width: 56px;
        position: absolute;
        left:0;
        bottom:15px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background: var(--deep-purple) url('../assets/icon-show-sidebar.svg');
        background-repeat: no-repeat;
        background-position: left 16px center;
    }

    .board__show-navigation-btn:hover, .board__show-navigation-btn:focus, .board__show-navigation-btn:active{
        background: var(--main-purple) url('../assets/icon-show-sidebar.svg');
        background-repeat: no-repeat;
        background-position: left 16px center;
    }

    .navigation__logo{
        cursor: pointer;
        background: url('../assets/logo-dark.svg');
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
        background-size: 153px 26px;
        height: 100%;
        width: 280px;
        border-right:1px solid var(--light-purple);
    }

    .header__button--create{
        width: unset;
        padding: 5px 25px;
        display: flex;
        align-items: center;
        background: var(--deep-purple);
        font-weight: 700;
        color: var(--white);
    }

    .header__button--create:hover, header__button--create:focus,.header__button--create:active{
        background-color: var(--main-purple);
    }

    .kanban__column--create:hover .kanban__add, .kanban__column--create:active .kanban__add,.kanban__column--create:focus .kanban__add{
        color: var(--deep-purple);
    }

    .board-selection__panel-item:hover, .board-selection__panel-item:active, .board-selection__panel-item:focus{
        background-color: var( --main-purple-light);
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    .board-selection__panel-item:hover, .board-selection__panel-item:active, .board-selection__panel-item:focus{
        background-color: var( --main-purple-light);
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    .board-selection__panel-item--active:hover, .board-selection__panel-item--active:focus,.board-selection__panel-item--active:active{
        background-color: var(--deep-purple);
    }

    .lightbox__container{
        width:480px
    }

    .lightbox__confirm-container{
        display: flex;
    }

    .lightbox__button-container{
        flex:1
    }
}